body{
    background-color: #eeeeee;
    width: 100%;
    overflow: hidden;
}

header{
    width: 100%;
    background-color: #cecece;
    font-size: 1.8rem;
    padding: 20px;
}

header .img_header{
    width: 50px;
}

.box{
    margin: 0 auto;
    background-color: #fff;
    border-radius: 12px;
    padding: 18px;
    width: 90%;
}

.section{
    padding-top:15px;
}

.section .image-world{
    width: 550px;
    height: 250px;
    overflow: hidden;
    background-image: url('../img/world.png');
    background-size: cover;
}

.section .selection-section{
    margin-top: 12px;
}

.icono-grande{
    font-size: 110px;
}

footer{
    background-color: #a0a0a0;
    width: 100%;
    position: absolute;
    bottom: 0;
}
/*
.section .mostrarPrecio{
    height: 170px;
}*/

.section .mostrarPrecio p{
    border-bottom: dotted #a0a0a0;
    padding-bottom:8px;
}

.section .mostrarPrecio p:last-child{
    border-bottom: none;
}

.section .precioTotal{
    font-size: 24px;
    font-weight: bold;
}